In [1]:
import pandas as pd

In [5]:
file_dir = ''

In [6]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [10]:
ratings.sample(n=5)

          userId  movieId  rating   timestamp
11848729  122869     7254     3.5  1444364460
14460757  150272     1608     4.0  1217947912
12545638  130178      851     2.0   940273062
6995448    72151     2379     2.0  1496266185
22760860  236520   103335     4.0  1449821724